extend layout
block content
	h1=title
	p.
		Welcome to the Node.js Demo Registeration App. 
	p.
		The Demo app uses the following technologies:
		
	div.techdiv
		ul.techlist
			li Express Framework
			li Jade template Engine
			li Stylus
			li NIB
			li MongoDB
			li Mongoose
				
	p.
		<br>
				To see all registered user, <a href="http://localhost:3000/users/userlist"> UserList </a>
				
