@import 'nib'

global-reset()

main-color = #333333
background-color = #f4f4f4

body
    font-family 'Arial'
    font-size 14px
    background-color background-color
    color #444

h1
    font-size 20px
    line-height 1.8em

header
    padding 20px 10px
    color #fff
    font-size 25px
    background-color main-color

.container
    width 80%
    margin:auto

.main-content
    float left
    width 70%

   p
     margin-bottom 20px

.sidebar
    float right
    width 27%
    padding 10px 10px 10px 10px
    border 1px solid #ccc

    .block
        border radius 5px
	padding 0 10px 10px 10px
        background-color background-color
        overflow hidden

        h1
          margin 13px 10px 4px
	  padding-bottom 10px
	  border-bottom 1px dotted #ddd
	  border radius 2px 2px 0px 0px
	  margin-bottom 10px

p
    line-height 1.8

.readmore
    float left

.readmore a
    color #666

footer
    float left
    width 100%
    
    .container
      border-top 1px dotted #ccc
      padding-top 5px
      margin-top 20px
      text-align center