@import 'nib'

global-reset()

reset-table-cell()

main-color = #333333
background-color = #f4f4f4

body
    font-family 'Arial'
    font-size 14px
    background-color background-color
    color #444

a
	color #666666
h1
    font-size 20px
    line-height 1.8em

header
    padding 20px 10px
    color #fff
    font-size 25px
    background-color main-color

.container
    width 80%
    margin:auto

	
	
.main-content
    float left
    width 70%

   p
     margin-bottom 20px

.sidebar
    float right
    width 27%
    padding 40px 10px 10px 10px
    border 1px solid #ccc

    .block
        border radius 5px
		padding 0 10px 10px 10px
        background-color background-color
        overflow hidden

        h1
          margin 13px 10px 4px
	  padding-bottom 10px
	  border-bottom 1px dotted #ddd
	  border radius 2px 2px 0px 0px
	  margin-bottom 10px


.readmore
    float left

.readmore a
    color #666

footer
    float left
    width 100%
    
    .container
      border-top 1px dotted #ccc
      padding-top 5px
      margin-top 20px
      text-align center

table.userlist
  width 100%

table.userlist tr th
  font-weight bold
  font-size 10
  padding-left 2px
  width 100px  bold
  border-top 1px dotted #ccc
  text-align center

table.userlist tr.odd
  background-color: #888
  line-height 1.5
  border-bottom 1px dotted #ccc

table.userlist tr.even
  line-height 1.5


tr td
  text-align center
  
  
div.techdiv
	padding-bottom 20px

ul.techlist
	margin-bottom 20px
	display block
	overflow auto
	list-style-type square
	
ul.techlist li
	padding-left 16px
	line-height 2em
	border-bottom #ccc 1px dotted
	float left
	width 200px